POSTGRES_USER=rin
POSTGRES_PASSWORD=rin_dev_password
POSTGRES_DB=rin_oj

REDIS_PORT=6379
MEILI_MASTER_KEY=rin_dev_meili_master_key

MINIO_ROOT_USER=rin
MINIO_ROOT_PASSWORD=rin_dev_minio_password

WEB_PORT=3000
NEXT_PUBLIC_RIN_GATEWAY_URL=http://127.0.0.1:8080
NEXT_PUBLIC_RIN_MOCK_SUBMISSIONS=true

GO_JUDGE_HTTP_PORT=5050
GO_JUDGE_PARALLELISM=1
GO_JUDGE_PRE_FORK=0
GO_JUDGE_TMP_FS_PARAM=size=64m,nr_inodes=4k
RIN_JUDGE_PROVIDER=gojudge
RIN_GO_JUDGE_ENDPOINT=http://127.0.0.1:5050
